@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap");
@import url();
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}
a {
    text-decoration: none;
}
 :root {
    --background-color:rgb(57, 66, 74);
    --text-decoration-color: rgb(255, 255, 255);
 }